*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p{
    font-size: 20px;
}

.pads {
    /* background: lightblue; */
    width: 100%;
    display: flex;
    
}

.pads > div{
    height: 200px;
    width: 200px;
    flex: 1;
}

.pad1{
    background: #AAECFC ;
}

.pad2{
    background: #C37EDB;
}
.pad3{
    background: #c3f6a6 ;
}
.pad4{
    background: #88A3E2 ;
}
.pad5{
    background: #FC8DCA ;
}
.pad6{
    background: #9282ce ;
}

